body {
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
}

.c-app {
  core-toolbar {
    background-color: #4285f4;
    color: #fff;
    paper-spinner::shadow .circle {
      border-color: #fff;
    }
  }
}