@import "flex";

body {
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
}

.c-app {
  .c-toolbar {
    height: 56px;
    .toolbar {
      padding: 4px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
      background: #4285f4;
    }
  }
}